<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">
      Meu Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <ion-card class="profile-card">
    <img src="assets/r.jpg" alt="Foto de Perfil" class="profile-image"/>
    <ion-card-header>
      <ion-card-title class="profile-name">Romulo Carlos dos Santos</ion-card-title>
      <ion-card-subtitle class="profile-code">Matrícula: 22203279</ion-card-subtitle>
      <ion-card-subtitle class="profile-code">Turma: ADS0301N</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Curso: Análise e Desenvolvimento de Sistemas</p>
    </ion-card-content>
  </ion-card>
  <div class="unisuam-logo">
    <img src="assets/logo_n.jpg" alt="Logo Unisuam" />
  </div>
</ion-content>
